body {
  background-image: url(/Section6/img/body-of-water-4344464.jpg);
  background-size: cover;
}

h2 {
  color: #AA4139;
  text-align: center;
  border: 5px solid rgba(255, 176, 170, 0.5);
  cursor: pointer;
}

p {
  color: green;
}

li {
  list-style: none;
  display: inline-block;
}

.webtext {
  text-align: centerdaftse;
  border: 2px dashed green;
}